<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center" style="margin: 25%;">
            <a  class="btn btn-info btn-rounded waves-effect waves-light m-b-30">Back to home</a> </div>
        <footer class="footer text-center">© 2020 FakeVideos.</footer>
    </div>
</section>
