<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
  <div
    class="login-register"
    style="
      background-image: url(./assets/images/background/Youtube.png);
    "
  >
    <div class="login-box card">
      <div class="card-body">
        <form
          class="form-horizontal form-material"
          id="loginform"
          action="index.html"
          autocomplete="off"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
        >
          <h3 class="box-title m-b-20 text-center">
            <img
            src="./assets/images/FakeVideos.png"
            alt="homepage"
            class="dark-logo" />
          </h3>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="email"
                placeholder="Email"
                formControlName="email"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="password"
                required=""
                placeholder="Contraseña"
                formControlName="password"
              />
            </div>
          </div>
          <div class="form-group text-center">
            <div class="col-xs-12 p-b-20">
              <button
                class="btn btn-block btn-lg btn-info btn-rounded"
                type="submit"
              >
                Iniciar Sesión
              </button>
            </div>
          </div>
          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              ¿No tienes cuenta?
              <a routerLink="/register" class="text-info m-l-5"
                ><b>Registrate !</b></a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
