<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <!-- Logo icon --><b>
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon -->
          <img
            src="./assets/images/youtube-icon.png"
            alt="homepage"
            class="dark-logo"
          />
          <!-- Light Logo icon -->
          <img
            src="./assets/images/youtube-icon.png"
            alt="homepage"
            class="light-logo"
          />
        </b>
        <!--End Logo icon -->
        <!-- Logo text --><span>
          <!-- dark Logo text -->
          <img
            src="./assets/images/FakeVideos.png"
            alt="homepage"
            class="dark-logo" />
          <!-- Light Logo text -->
          <img
            src="./assets/images/FakeVideos-light.png"
            class="light-logo"
            alt="homepage"
        /></span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto">
        <!-- This is  -->
        <li class="nav-item">
          <a
            class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
            href="javascript:void(0)"
            ><i class="ti-menu"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
            href="javascript:void(0)"
            ><i class="ti-menu"></i
          ></a>
        </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <!-- ============================================================== -->
      <!-- User and Logout -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <!-- ============================================================== -->
        <!-- Name -->
        <!-- ============================================================== -->
        <li class="nav-item">
          <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"></a>
          <div class="u-text">
            <h4>{{ username }}</h4>
          </div>
        </li>
        <li class="nav-item">
          <a (click)="logout()" class="nav-link waves-effect waves-dark" style="color:red" href="javascript:void(0)">
            <i class="fa fa-power-off"></i> Cerrar sesión
          </a>
        </li>
        
      </ul>
    </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
