<section id="wrapper">
  <div
    class="login-register"
    style="
      background-image: url(./assets/images/background/Youtube.png);
    "
  >
    <div class="login-box card" >
      <div class="card-body">
        <form
          class="form-horizontal form-material"
          id="loginform"
          [formGroup]="registerForm"
          (ngSubmit)="createUser()"
        >
          <h3 class="box-title m-b-20">Registrarte</h3>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="text"
                placeholder="Nombre"
                formControlName="name"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="text"
                placeholder="Apellido"
                formControlName="surname"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="text"
                placeholder="Email"
                formControlName="email"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="password"
                placeholder="Contraseña"
                formControlName="password"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="password"
                placeholder="Confirmación Contraseña"
                formControlName="password2"
              />
            </div>
          </div>

          <div class="row">
            <div class="col text-danger">

              <p *ngIf="invalidField('name')">* El nombre es obligatorio</p>
              <p *ngIf="invalidField('surname')">* El apellido es obligatorio</p>
              <p *ngIf="invalidPasswords()">* Las contraseñas deben ser iguales</p>
              <p *ngIf="invalidField('email')">* El email es obligatorio</p>
              <p *ngIf="invalidCaptcha()">* El captcha es obligatorio</p>

            </div>
          </div>

          <re-captcha (resolved)="resolved($event)" siteKey="6LfXeMMZAAAAAL9ft_jvCfJ5EV1Dx-sRU1zbCRfb">

          </re-captcha>

          <br>
          
          
          <div class="form-group text-center p-b-20">
            <div class="col-xs-12">
              <button
                class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light"
                type="submit"
              >
                Registrarte
              </button>
            </div>
          </div>
          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              ¿Tienes una cuenta?
              <a routerLink="/login" class="text-info m-l-5"
                ><b>Iniciar sesión</b></a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
