<div class="row animated fadeIn fast"
    *ngIf="loading">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div> 

<div class="row animated fadeIn fast"
     *ngIf="!loading && (videos.length == 0)">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">No hay videos favoritos</h4>
          <i class="fa fa-times fa-2x"></i>
          <p class="mb-0"></p>
        </div>

    </div>
</div> 

<div class="row"
    *ngIf="!loading && !(videos.length == 0)">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    
                    <div class="row">
                        <div class="col-lg-3" *ngFor="let video of videos">
                          <!-- Card -->
                          <div class="card">
                            <img
                              class="card-img-top img-responsive"
                              [src]="video.thumbnail"
                              alt="Card image cap"
                            />
                            <div class="card-body">
                              <h4 class="card-title"><a [href]="video.videoUrl">{{ video.title }}...</a></h4>
                              <a [href]="video.channelUrl"><span class="label label-info label-rounded">{{ video.channelTitle }}</span></a>
                              <p class="card-text">
                                {{ video.description }}...
                              </p>
                              <a (click)="deleteVideo(video.id)" class="btn btn-outline-warning btn-rounded"><i class="fa fa-times"></i> Delete</a>
                            </div>
                          </div>
                          <!-- Card -->
                        </div>
                      </div>

                </div>
<!-- 
                <button class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button class="btn btn-secondary">Siguientes</button> -->

            </div>
        </div>
    </div>
</div>
